<article
  class="musicflux-item"
  (click)="itemClick.emit(item.id)"
  (keypress.enter)="itemClick.emit(item.id)"
  tabindex="0"
>
  <mat-card [class]="'musicflux-item__card ' + classNameBasedOnRoundedProp">
    <img
      mat-card-image
      [src]="item.coverUrl"
      [alt]="item.name"
      width="150"
      height="150"
      missing
    />
  </mat-card>
  <div class="musicflux-item__description">
    <p class="mat-body-2">{{ item.name }}</p>
    <p class="mat-caption" *ngIf="item.description">{{ item.description }}</p>
  </div>
</article>
