.musicflux-item {
  width: 150px;

  &__card {
    width: inherit;
    height: 150px;
  }

  &__rounded {
    border-radius: 100%;
  }

  &__description {
    margin-top: 1rem;
    p {
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
