.nav-menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  &__option {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: white;

    p {
      margin-bottom: 0;
      margin-left: 0.8rem;
    }
  }
}
