<div class="nav-menu">
  <div>
    <a
      class="nav-menu__option"
      [routerLink]="option.link"
      *ngFor="let option of menuOptions"
    >
      <mat-icon>{{ option.iconName }}</mat-icon>
      <p class="mat-headline-6" *ngIf="!isMobile">{{ option.name }}</p>
    </a>
  </div>
  <div>
    <a routerLink class="nav-menu__option">
      <mat-icon>logout</mat-icon>
      <p *ngIf="!isMobile" class="mat-headline-6">Log out</p>
    </a>
    <a routerLink class="nav-menu__option">
      <mat-icon>account_circle</mat-icon>
      <p *ngIf="!isMobile" class="mat-headline-6">Profile</p>
    </a>
  </div>
</div>
