.nav-menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  &__option {
    display: flex;
    width: 80%;
    align-items: center;
    margin-bottom: 1rem;

    a {
      margin-bottom: 0;
      margin-left: 1rem;
      text-decoration: none;
      color: white;
    }
  }
}
