.search {
  padding: 2rem;
  display: flex;
  flex-direction: column;

  &__options {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__input-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      @media screen and (min-width: 768px) {
        flex-direction: row;
      }

      form {
        width: inherit;
      }

      &__back-button {
        margin-right: 2rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);

        @media screen and (min-width: 768px) {
          margin-bottom: 0;
        }
      }

      &__input {
        width: inherit;
        margin-bottom: 0;
      }
    }

  }

  &__results {
    margin-top: 1rem;

    h2 {
      margin-bottom: 2rem;
    }

    &__category {
      margin-bottom: 3rem;
    }
  }
}
