<main class="search">
  <section class="search__options">
    <div class="search__options__input-wrapper">
      <button
        mat-icon-button
        class="search__options__input-wrapper__back-button"
        (click)="onBackButtonToggle()"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <form [formGroup]="form">
        <mat-form-field class="search__options__input-wrapper__input">
          <mat-label>Search</mat-label>
          <input matInput #searchInput type="text" formControlName="search" />
          <button
            mat-icon-button
            matSuffix
            (click)="onSearch(searchInput.value)"
          >
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
    <mat-chip-listbox
      [class]="isMobile ? 'mat-mdc-chip-set-stacked' : ''"
      multiple
    >
      <mat-chip-option
        [selected]="option.selected"
        (selectionChange)="onFilterOptionSelectionChange(option)"
        *ngFor="let option of filterOptions"
        >{{ option.name }}</mat-chip-option
      >
    </mat-chip-listbox>
  </section>
  <section class="search__results" *ngIf="showResults">
    <h2 class="mat-headline-4">Results</h2>
    <div class="search__results__category" *ngIf="showArtists">
      <h4 class="mat-headline-6">Artists</h4>
      <horizontal-list
        [items]="artists"
        [roundedItems]="true"
      ></horizontal-list>
    </div>
    <div class="search__results__category" *ngIf="showAlbums">
      <h4 class="mat-headline-6">Albums</h4>
      <horizontal-list [items]="albums"></horizontal-list>
    </div>
    <div class="search__results__category" *ngIf="showTracks">
      <h4 class="mat-headline-6">Tracks</h4>
      <horizontal-list [items]="tracks"></horizontal-list>
    </div>
    <div class="search__results__category" *ngIf="showPlaylists">
      <h4 class="mat-headline-6">Playlists</h4>
      <horizontal-list [items]="playlists"></horizontal-list>
    </div>
  </section>
</main>
