.search {
  padding: 2rem;
  display: flex;
  flex-direction: column;

  &__options {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__input {
      width: 50%;
    }
  }

  &__results {
    h2 {
      margin-bottom: 2rem;
    }

    &__category {
      margin-bottom: 3rem;
    }
  }
}
