<section class="login">
  <h1 class="login__title mat-headline-2">Musicflux</h1>
  <form class="login__form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="login__input-margin">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="isUsernameInvalid">Username is required</mat-error>
    </mat-form-field>
    <mat-form-field class="login__input-margin">
      <mat-label>Password</mat-label>
      <input matInput [type]="passwordInputType" formControlName="password" />
      <button
        mat-icon-button
        matSuffix
        (click)="$event.preventDefault(); onPasswordIconTouch()"
      >
        <mat-icon>{{ passwordIconName }}</mat-icon>
      </button>
      <mat-error *ngIf="isPasswordInvalid">Password is required</mat-error>
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      class="login__btn mat-body-1"
    >
      <ng-container *ngIf="isNotLoading; else spinner">Sign In</ng-container>
      <ng-template #spinner>
        <mat-spinner color="accent" diameter="40"></mat-spinner>
      </ng-template>
    </button>
    <a routerLink="/register" mat-button class="login__link mat-body-2"
      >Don't you have an account? Create one here.</a
    >
  </form>
</section>
