header {
  position: relative;
  width: 100%;
  height: 40%;
  background-color: #424242;

  button {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    top: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    opacity: 0.4;
  }

  h1 {
    position: absolute;
    bottom: 0;
    margin: 0 0 2rem 2rem;
  }
}
